* {
  margin: 0;
  padding: 0;
}

body {
  background-color: bisque;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 5px 5px 0 5px;
}

input[type="email"],
[type="text"],
[type="password"],
[type="submit"],
[type="reset"],
select {
  margin-bottom: 15px;
  border-radius: 4px;
  height: 25px;
}
label {
  margin-bottom: 5px;
}

.main-container {
  display: flex;
  justify-content: center; /*centro da linha*/
  width: 100%;
  height: 100vh;
  align-items: center; /*centro do ecra*/
}

.main-form {
  background-color: #4caf50;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
